---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-2xl pb-3">All Articles</h1>
  <!-- MAIN GRID  -->
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 border-[3px] border-[green]"
  >
    <!-- Article Card  -->
    <div class="max-w-md mx-auto mt-10">
      <div class="bg-white rounded-lg overflow-hidden shadow-lg">
        <a href="#">
          <img
            alt="Article Image"
            class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
          />
        </a>
        <div class="p-6">
          <h2 class="text-2xl font-semibold mb-2"></h2>
          <p class="text-gray-600 text-sm mb-4"></p>
        </div>
      </div>
    </div>

    + <!-- Pagination   -->
    <!-- <div class="flex justify-between mt-10 border-[3px] border-[green]">
    <a
      href="#"
      class="inline-block bg-green-100 px-3 py-2 hover:bg-green-600 hover:text-white rounded-lg"
    >
      Previous
    </a>
    <a
      href="#"
      class="inline-block bg-green-100 px-3 py-2 hover:bg-green-600 hover:text-white rounded-lg"
    >
      Next
    </a>
  </div> -->
  </div>
</MainLayout>
